@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container-fluid contact-container">
    <h2>Contact Max</h2> <br />
    <address>
        <strong>Email:</strong> <a href="mailto:conroy3644@gmail.com">conroy3644@gmail.com</a> <br /><br />
        <strong>Twitter:</strong> <a href="https://twitter.com/mxconroy">https://twitter.com/mxconroy</a> <br /><br />
        <strong>Facebook:</strong> <a href="https://www.facebook.com/max.conroy">https://www.facebook.com/max.conroy</a>
    </address>
</div>
