@page
@model Max_Conroy_Website.Pages.GameModel
@{
    ViewData["Title"] = "Game";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Game</h2>

<canvas id="myCanvas" width="200" height="100"
        style="border:1px solid #c3c3c3;">
    Your browser does not support the canvas element.
</canvas>

    <script>
var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");
ctx.fillStyle = "#FF0000";
ctx.fillRect(0,0,200,275);
    </script>

